<div class="nav-banner-sm">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link btn btn-outline-primary" href="/items">Show All</a>
    </li>
    <% if(currentUser){ %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= currentUser %></a>
        </li>
    <% } else { %>
        <li class="nav-item">
          <a class="nav-link active" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup">Signup</a>
        </li>
    <% } %>
  </ul>
</div>