<div class="nav-banner-lg">
  <div class="container">
    <h1>Ventory</h1>
    <p>A simplified inventory system</p>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success" href="/add-item">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">UserName</a>
      </li>
    </ul>
  </div>
</div>
