<%- include('partials/head.ejs') %>
<div class="container landing">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5">Simplified Inventory System</h1>
      <p class="lead">This is all you need for efficient inventory management.</p>
      <p class="lead">
        <a href="/items" class="btn btn-primary btn-lg" href="#" role="button">See Items</a>
      </p>
    </div>
  </div>
</div>
<%- include('partials/foot.ejs') %>
