<%- include('partials/head.ejs') %>
<body class='container'>
    <h3>Add new item</h3>
    <hr />
    <form action="/add-item" method="POST" class="col-md-8 offset-2">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label htmlFor="title">Title:</label><br />
            <input type="text" name="title" class="form-control" placeholder="Enter title" required />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label htmlFor="status">Status:</label><br />
            <select name="status" class="form-control" required>
              <option />
              <option value="available">Available</option>
              <option value="Ordered">Order Placed</option>
              <option value="sold">Sold</option>
              <option value="payment_pending">Payment Pending</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label htmlFor="description">Description:</label><br />
        <textarea type="text" name="description" rows="3" class="form-control" placeholder="What is it about?"></textarea>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label htmlFor="category">Category:</label><br />
            <select name="category" class="form-control" required>
              <option />
              <option value="science">Science & Tech</option>
              <option value="business">Business</option>
              <option value="entertainment">Entertainment</option>
              <option value="sports">Sports</option>
              <option value="fashion">Fashion</option>
              <option value="lifestyle">Lifestyle</option>
              <option value="volunteering">Volunteering</option>
              <option value="agegroups">Age Groups</option>
              <option value="health">Health</option>
              <option value="career">Career Fairs</option>
              <option value="research">Research Groups</option>
              <option value="conferences">Conferences</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label htmlFor="entry_date">Entry Date:</label><br />
            <input type="date" name="entry_date" class="form-control" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label htmlFor="condition">Status:</label><br />
            <select name="condition" class="form-control">
              <option />
              <option value="new">New</option>
              <option value="used">Used</option>
              <option value="damaged">Damaged</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label htmlFor="brand">Brand:</label><br />
            <input type="text" name="brand" class="form-control" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label htmlFor="location">Shelf No.:</label><br />
            <input type="text" name="location" class="form-control" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label htmlFor="quantity">Quantity:</label><br />
            <input type="number" min="0" name="quantity" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label htmlFor="list_price">List Price ($):</label><br />
            <input type="number" min="0.00" name="list_price" class="form-control" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label htmlFor="payment_method">Payment Method:</label><br />
            <select name="payment_method" class="form-control">
              <option />
              <option value="available">Cash</option>
              <option value="wire_transfer">Wire Transfer</option>
              <option value="cheque">Cheque</option>
              <option value="paypal">Paypal</option>
              <option value="credit_card">Credit Card</option>
              <option value="loan">Loan</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label htmlFor="date_issued">Date Issued:</label><br />
            <input type="date" name="date_issued" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label htmlFor="amount_received">Amount Received ($):</label><br />
            <input type="number" min="0.00" name="amount_received" class="form-control" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label htmlFor="image_upload">Upload Image:</label><br />
            <input type="file" name="image_upload" class="form-control btn-info"/>
          </div>
        </div>
      </div>
      <hr />
      <div class="button-group">
        <button type="submit" class="btn btn-outline-primary">Add</button>
        <button type="reset" class="btn btn-outline-info">Reset</button>
        <button class="btn btn-outline-danger">Cancel</button>
      </div>
    </form>
  <%- include('partials/foot.ejs') %>