html{
  font-size: 14px;
}

body {
  font-family: 'Comfortaa', cursive, Helvetica, Arial, sans-serif;
  background: #F8F9F9;
  padding-top: 15px;
}

.jumbotron{
  margin-top: 5rem;
}

a {
  color: #00B7FF;
}

.form-wrapper{
  background: #FFF;
  margin-top: 1rem;
  border: 1px solid #CCC;
  border-top: 5px solid #CCC;
}

form{
  padding: 1.5rem;
}

.nav-banner-lg,
.table-wrapper{
  background: #FFF;
}

.nav-banner-lg{
  padding: 20px;
  padding-bottom: 5px;
  margin-top: -15px;
  margin-left: -12px;
  margin-right: -12px;
  border-bottom: 1px solid #CCC;
}

.nav-banner-sm{
  padding: 20px;
  margin-top: -15px;
  margin-left: -12px;
  margin-right: -12px;
}

.table-wrapper{
  margin-top: 2rem;
  border-top: 5px solid #CCC;
}

.table thead{
  background-color: #2F2F2F;
}

.table thead th{
  color: #DDD;
}

.item-show{
  border-top: 6px solid #888685;
  padding: 2rem;
  margin-top: 2rem;
  height: 85vh;
}

.image-wrapper{
  margin-right: .5rem;
}

.card-block .card-text{
  height: 60vh;
}

.card-footer{
  margin-top: 2rem;
  padding: 1rem;
  border-top: none;
}

.other-cards{
  margin-top: 2rem;
}

.other-cards .card{
  margin-left: 4rem;
}