<%- include('../partials/head.ejs') %>

<body class='container'></body>
  <h3>Show Page for item with id: <%= item._id %></h3>
  <a href="/items">See all items</a>
  <p>Coming soon ...</p>

<%- include('../partials/foot.ejs') %>
