<%- include('../partials/head.ejs') %>
<%- include('../partials/nav-sm.ejs') %>
<hr />
<div class="container">
  <h4>Hello! <%= currentUser %>. Welcome to your profile</h4>
</div>

<%- include('../partials/foot.ejs') %>